@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
body{font-family: "Microsoft YaHei","黑体","宋体",Arial,sans-serif;font-size: 12px;min-width: 1280px;}
a{text-decoration: none;}
ul li{ list-style:none;}
ul{overflow: hidden;}
input,button,select,textarea{outline:none}
.fl{float: left;}.fr{float: right;}
.ovh{overflow: hidden;}

.top{height: 57px;background: #fff;}
.top .logo{margin-left: 60px;height: 57px;line-height: 57px;font-size: 21px;font-family: '黑体';}
.top .logoi{float: left;margin: 13px 11px 0 0;
	width: 31px;height: 31px;
	background: url(images/i.png) left bottom no-repeat;
	-webkit-background-size:272% 273%;background-size:272% 273%;}

.top ul{margin-right: 50px;}
.top li{float: left;margin-left: 14px;line-height: 48px;font-size: 14px;color: #787b83;}
.top li a{display: inline-block;padding: 0 16px;height: 53px;color: #787b83;}
.top li.this a,.top li:hover a
{border-bottom: solid 4px #e74f4d;color: #e74f4d;}
.top li .login{display: block;float: left;margin: 16px 5px 0 0; width: 14px;height: 17px;
background: url(images/i.png) -2px -131px no-repeat;}
.top li:last-child a{color: #e74f4d;}

.ban{width: 100%;height: 854px;color: #fff;
	background:url(images/1.jpg) 0 center no-repeat;-webkit-background-size: 100% auto;background-size: 100% auto;}
.ban .fl{margin:230px 0 0 116px;}
.ban h2{font-size: 60px;font-weight: normal;}
.ban p{margin-left: 8px;font-size: 21px;line-height: 1.5;}
.ban a{display: inline-block;width: 330px;height: 63px;line-height: 63px;margin: 60px 0 0 8px ;
	font-size: 30px;color: #fff;background: #e7504d;text-align: center;}

.section1{padding: 45px 0 66px;}
.section1 ul{width: 1280px;margin: 0 auto;}
.section1 li{float: left;width: 320px;text-align: center;}
.section1 li p{margin-top: 44px;height: 51px;border-right: solid 1px #767777;color: #767777; font-size: 14px;line-height: 18px;}
.section1 p.br0{border-right: 0;}
.section1 .s1i{display: inline-block;width: 42px;height: 42px;background-image: url(images/i.png);background-repeat: no-repeat;}
.section1 .s1i1{background-position: 0 0;}
.section1 .s1i2{background-position: -69px 0;}
.section1 .s1i3{background-position: -135px 0;}
.section1 .s1i4{background-position: right 0;}

.section2{padding: 90px 0 80px; background: #ededed;text-align: center;}
.section2 .s2i{width: 92px;height: 92px;margin: 0 auto 45px;
	background: url(images/i.png) left bottom no-repeat;}
.section2 h3{font-weight: normal;text-align: center;font-size: 54px;font-family: '黑体';color: #a1a1a1;}

.section3{padding-top: 43px;height: 298px;background: url(images/2.jpg) 0 center no-repeat;-webkit-background-size: 100% auto;background-size: 100% auto;}
.section3 h4{font-weight: normal;text-align: center;color: #fff;font-size: 21px;line-height: 41px;}
.section3 .line{height: 1px;width: 30px;margin: 0 auto; background: #fff;border: solid 1px #e5dddd;}
.section3 p{text-align: center;color: #fff;font-size: 12px;margin-top: 19px;}
.section3 .lookup{margin-top: 53px;}
select{display: none;}
.select_box{float: left;}
.select_showbox{padding-left: 12px;margin-right: 28px;width: 224px;height: 35px;line-height: 35px;background: #fff url(images/i.png) 208px -95px no-repeat;color: #a8aaaa;}
.select_showbox:hover{box-shadow: 0 0 0 2px #cb7873;}
.select_option{display: none;background: #e4e3e5; border: 1px solid #d79995;width: 236px;border-radius: 2px;}
.select_option li{padding-left:31px;height: 26px;line-height: 26px;color: #787879;}
.select_option li.selected{background: #be4f48 url(images/i.png) -60px -100px no-repeat;color: #fff;}
.select_option li.hover{background: #be4e48; color: #fff;}
.section3 form{width: 1032px;margin: 0 auto;}
.section3 input[type='submit']{width: 236px;height: 35px;line-height: 35px;text-align: center;color: #fff;font-size: 14px;background: #be4e48;border: 0;}

.section4{background: #f7f7f7;padding: 100px 0 114px;}
.section4 ul{width: 990px;margin: 0 auto;}
.section4 li{float: left;margin-right: 36px;width: 219px;}
.section4 li:last-child{margin-right: 0;}
.s4text{height: 54px;text-align: center;}
.s4text h5{font-weight: normal;font-size: 14px;color: #323333;line-height: 38px;}
.s4text p{color: #818181;}
.s4text h4{font-size: 21px;letter-spacing: 12px;font-weight: normal;color: #323333;margin-bottom: 7px;}

.section5{overflow: hidden;width: 1280px;margin: 0 auto;text-align: center;}
.section5_1{width: 852px;height: 567px;color: #fff;
	background: url(images/4.jpg) 0 0 no-repeat;}
.section5_1 h4,.section5_1 h1{font-weight: normal;line-height: 1;}
.section5_1 h4{font-size: 50px;margin-top: 132px;}
.section5_1 h1{font-size: 157.8px;}
.section5_1 p{font-size: 22px;text-align: left;margin-left: 350px;line-height: 43.15px;}
.section5_2{width: 290px;height: 402px;float: left;padding-top: 165px;margin-left: 70px;}
.section5_2 img{}
.section5_2 p{font-size: 12px;;line-height: 30px;color: #aaa;font-family:"宋体";margin: 22px 0 40px;text-align: left;}
.section5_2 a{display: inline-block;width: 104px;height: 31px;line-height: 31px;color: #e25c60;border: solid 1px #e46669;}
.section5_24{margin: 24px 0 0 107px;}
.section5_24 li{float: left;width: 8px;height: 8px;border: solid 1px #929293;border-radius: 50%;margin: 0 7px;}
.section5_24 li:first-child{background: #929293;}

.section5_3{float: left;width: 425px;height: 521px;background: #e7504d;color: #fff;}
.section5_3 p{font-size: 21px;line-height: 30px;margin-top: 167px;}
.section5_31{margin: 20px auto 0;width: 31px;height: 25px;border-top: solid 2px #fff;}
.section5_3 a{display: inline-block;width: 167px;height: 41px;line-height: 41px;color: #fff;border: solid 1px #fff;font-size: 21px;}

.section5_4{float: left;width: 425px;height: 521px;color: #323333;}
.section5_4 p{font-size: 21px;line-height: 30px;margin-top: 167px;}
.section5_41{margin: 20px auto 0;width: 31px;height: 25px;border-top: solid 2px #aaa;}
.section5_4 a{display: inline-block;width: 167px;height: 41px;line-height: 41px;color: #e74f4d;border: solid 1px #e74f4d;font-size: 21px;}

.section6{overflow: hidden;width: 1280px;margin: 0 auto;padding: 109px 0 152px;}
.section6_1{text-align: center;padding-bottom: 103px;}
.section6_1 h3{line-height: 38px;font-size: 21px;font-family: "黑体";font-weight: normal;}
.section6_12{width: 30px;height: 12px;border-top: solid 2px #e74f4d;margin: 0 auto;}
.section6_1 p{font-size: 12px;line-height: 18px;color: #aaa;}
.section6_2_1{width: 292px;float: left;margin-left: 138px;}
.section6_2_1 h4{font-size: 14px;color: #231815;line-height: 20px;font-weight: normal;margin-bottom: 19px;opacity: .8;}
.section6_2_1 p{font-size: 12px;color: #231815;line-height: 21px;font-family:"宋体";margin-bottom: 5px;opacity: .6;}
.section6_2_1 a{float: right;font-size: 12px;color: #231815;font-family:"宋体";opacity: .6;}
.section6_2_1 .s1i5{display: inline-block;width: 17px;height: 6px;background: url(images/i.png) -37px -111px no-repeat;}
.section6_2_11{margin-bottom: 34px;}
.section6_2_12{margin-bottom: 14px;}
.section6_2_2{float: right;width: 640px;margin-right: 140px;}
.section6_2_2 p{float: left;background: #edecee;width: 310px;height: 40px;line-height: 40px;margin-bottom: 14px;}
.section6_2_2 p:nth-child(2n){margin-left: 19px;}
.section6_2_2 p label{color: #231815;opacity: .8;margin-left: 18px;}
.section6_2_2 p input{width: 220px;background: #edecee;border: 0;height: 38px;line-height: 38px;}
.section6_2_2 textarea{width: 602px;height: 100px;background: #edecee;line-height: 20px;border: 0;text-indent: 150px;padding: 10px 18px;}
.section6_2_2ta {position: relative;}
.section6_2_2ta span{position: absolute;left:18px;top:10px;color: #4c4240;line-height: 20px;background: #edecee;}
.section6_2 .submit{width:640px;margin-top: 14px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;color: #323333;background: #ececee;border: 0;}

.section7{overflow: hidden;width: 100%;height: 358px;background: #32363e;text-align: center;color: #fff;}
.section7 h3{font-size: 21px;font-weight: normal;font-family: "黑体";line-height: 28px;margin-top: 92px;}
.section7 p{line-height: 18px;font-family:"宋体";margin-bottom: 27px;}
.section7_1{width: 511px;height: 40px;margin: 0 auto;}
.section7_1 input{float: left;height: 40px;line-height: 40px;border: 0;}
.section7_2{width: 430px;text-indent: 9px;font-size: 14px;}
.section7_3{width: 80px;font-size: 15px;color: #fff;background: #6f7278;}
.section7 ul{width: 220px;margin: 37px auto 0;}
.section7 li{float: left;width: 29px;height: 25px;margin: 0 13px;}
.section7 .s1i{display: inline-block;width: 29px;height: 25px;background-image: url(images/i.png);background-repeat: no-repeat;}
.section7 .s1i6{background-position: 3px -60px;}
.section7 .s1i7{background-position: -32px -60px;}
.section7 .s1i8{background-position: -69px -60px;}
.section7 .s1i9{background-position: -104px -60px;}

.bottom{padding-top: 30px;height: 28px;background: #303039;font-family:"宋体";color: #fff;}
.bottom .fl{margin-left: 100px;}
.bottom .fr{margin-right: 40px;color: #fff;}